.details {
  position: fixed;
  top: 150px;
  z-index: 10;
  &.hidden {
    display: none;
  }
  margin: 0 10%;
  padding: 10px 50px 50px;
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 5px;
}
.details__close {
  color: darkred;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}