.filterer {
  display: flex;
  justify-content: space-around;
}

.filterer__option-list {
  list-style-type: none;
}

.filterer__option-link {
  cursor: pointer;
}

.filterer__openFilters {
  cursor: pointer;
}

.filterer__option-title {
  text-align: center;
}