.basket__overlay {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  position: fixed;
  left: 25px;
  right: 25px;
  top: 25px;
  bottom: 25px;
  z-index: 110;
}

.basket__overlay-close {
  cursor: pointer;
  font-size: 2em;
  text-align: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  margin-right: 5px;
}

.basket__overlay-legend {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}