.itemWrap {
  position: relative;
  list-style-type: none;
  margin-bottom: 3em;
}
.shopItem {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .prod {
    height: 200px;
    display: flex;
    justify-content: space-between;
  }
  progress {
    margin-top: 20px;
    display: block;
    width: 60%;
    height: 25px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    .itemImg {
      width: 150px;
      height: auto;
    }
    .itemName {
      font-weight: normal;
      color: red;
      margin-bottom: 3px;
    }
    small {
      display: block;
      margin-bottom: 1.5em;
    }
  }
  .viewDetails {
    cursor: pointer;
    text-decoration: underline;
  }
  .discount {
    background: #d333ff;
    display: flex;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    span {
      font-weight: bold;
      font-size: 1.5em;
    }
    small {
      font-size: 0.7em;
    }
  }
  .prices {
    position: relative;
    top: 80%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .oldPrice {
      text-decoration: line-through;
    }
  }
}

.item__dets-addCont {
  .baskCont {
    display: inline-block;
    background: rgb(220, 220, 220);
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
  }
}

.item__dets-add2basket {
  margin: 0 auto;
  display: block;
}