.header__topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__shopName {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 3em;
  color: rgb(117, 183, 244);
}

.header__shopName-four {
  background: rgb(117, 183, 244);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 1em;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 7px;
}

.header__basketLink {
  color: rgb(199, 62, 29);
  cursor: pointer;
  text-decoration: underline;
}

.header__sorterRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}