.basketItem {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    width: 100px;
    height: auto;
  }
  p {
    display: inline-block;
    margin: 0 2em;
  }
}

.basketItem__remove {
  font-size: 2em;
  color: darkred;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}